
  <div class="my-lg ta-center">
    <h3 class="h3 mb-0">
      Welcome, <%= @current_account.name %>!
    </h3>

    <% if @facilities && @facilities.count > 0 %>
      <h4 class="h4 text--darkGray">
        These are your facilities
      </h4>
    <% end %>
  </div>

<div class="width" id="panel-wrapper">
  <% if @facilities && @facilities.count > 0 %>
    <%= render partial: 'facility', collection: @facilities, locals: { integrations: @integrations } %>

    <div class="clearfix"></div>
  <% end %>
</div>

<% content_for :header_aux do %>
  <div class="directional-text">
    <% if @current_account %>
      <%= link_to 'Logout', logout_url(id: @current_account.id), class: 'btn btn--outline btn--sm', id: 'btn-unauthorize' %>
    <% else %>
      <%= link_to 'Connect to Artemis', authorize_url, class: 'btn btn--outline btn--sm', id: 'btn-authorize' %>
    <% end %>
  </div>
<% end %>
